<sly data-sly-use.model="com.lyca.core.models.CarouselModel" />
<section class="hero">
  <div class="hero-content">
    <div class="hero-text">
      <h2>${model.heading}</h2>
      <h1>${model.subheading}</h1>
      <!-- <img src="${model.starImage}" alt="Star Rating" class="hero-left-img" /> -->
      <div class="price">${model.price}<span>${model.duration}</span></div>
      <div class="hero-buttons">
        <a href="${model.buttonLink}" class="btn-primary"
          >${model.buttonText}</a
        >
      </div>
    </div>
    <div class="hero-image">
      <img src="${model.heroImage}" alt="Hero Image" />

      <div class="hero-image-slider">
        <span class="arrow">←</span>
        <span class="count">1 / 3</span>
        <span class="arrow">→</span>
      </div>
    </div>
  </div>
</section>
