    <!-- <div class="wrapper">
        <h1>Searching for the best SIM Only deal?</h1>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th class="highlight">LEBARA</th>
                        <th>EF</th>
                        <th>O2</th>
                        <th>Three</th>
                        <th>Giffgaff</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>£ Monthly Cost</td>
                        <td class="highlight price">$5</td>
                        <td class="price">$27</td>
                        <td class="price">$22</td>
                        <td class="price">$22</td>
                        <td class="price">$6</td>
                    </tr>

                    <tr>
                        <td>📊 Data</td>
                        <td class="highlight data">5GB</td>
                        <td>5GB</td>
                        <td>3GB</td>
                        <td>12GB</td>
                        <td>2GB</td>
                    </tr>

                    <tr>
                        <td>📞 Minutes</td>
                        <td class="highlight">1000</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                    </tr>

                    <tr>
                        <td>💬 Texts</td>
                        <td class="highlight">1000</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                    </tr>

                    <tr>
                        <td>📄 Contract</td>
                        <td class="highlight">Not Contract</td>
                        <td>Not Contract</td>
                        <td>1 Month</td>
                        <td>1 Month</td>
                        <td>No Contract</td>
                    </tr>

                    <tr>
                        <td>⬆ Annual Price Rise</td>
                        <td class="highlight">NO</td>
                        <td>NO</td>
                        <td>Yes</td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>

                    <tr>
                        <td>🌍 Free EU Roaming</td>
                        <td class="highlight">Yes</td>
                        <td>NO</td>
                        <td>NO</td>
                        <td>NO</td>
                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bottom-bar">
            <div class="bottom-bar-content">
                <label>
                    <input type="checkbox" />
                    Hide Common Features
                </label>
                <button class="addmoresimBtn">Add More SIM</button>
            </div>
        </div>
    </div> -->


       <div class="wrapper">
        <h1>Searching for the best SIM Only deal?</h1>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th class="highlight">LYCA</th>
                        <th>EF</th>
                        <th>O2</th>
                        <th>Three</th>
                        <th>Giffgaff</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>£ Monthly Cost</td>
                        <td class="highlight price">$5</td>
                        <td class="price">$27</td>
                        <td class="price">$22</td>
                        <td class="price">$22</td>
                        <td class="price">$6</td>
                    </tr>

                    <tr>
                        <td>📊 Data</td>
                        <td class="highlight data">5GB</td>
                        <td>5GB</td>
                        <td>3GB</td>
                        <td>12GB</td>
                        <td>2GB</td>
                    </tr>

                    <tr>
                        <td>📞 Minutes</td>
                        <td class="highlight">1000</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                    </tr>

                    <tr>
                        <td>💬 Texts</td>
                        <td class="highlight">1000</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                        <td>Unlimited</td>
                    </tr>

                    <tr>
                        <td>📄 Contract</td>
                        <td class="highlight">Not Contract</td>
                        <td>Not Contract</td>
                        <td>1 Month</td>
                        <td>1 Month</td>
                        <td>No Contract</td>
                    </tr>

                    <tr>
                        <td>⬆ Annual Price Rise</td>
                        <td class="highlight">NO</td>
                        <td>NO</td>
                        <td>Yes</td>
                        <td>Yes</td>
                        <td>Yes</td>
                    </tr>

                    <tr>
                        <td>🌍 Free EU Roaming</td>
                        <td class="highlight">Yes</td>
                        <td>NO</td>
                        <td>NO</td>
                        <td>NO</td>
                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="bottom-bar">
            <div class="bottom-bar-content">
                <label>
                    <input type="checkbox" />
                    Hide Common Features
                </label>
                <button class="addmoresimBtn">Add More SIM</button>
            </div>
        </div>
    </div>