.lyca-feature-wrapper {
  padding:60px 40px;
  background-color: #f5f7fa;
  text-align: center;
  margin:0;
  margin-top:20px;
}
.lyca-feature-main-heading {
  font-size: 30px;
  font-weight: 700;
  color: #0b2c4d;
  margin-bottom: 50px;
  font-family:'Poppins', sans-serif;
   letter-spacing: 0.2px;
   text-transform: none;   
}
.lyca-feature-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap:15px;
}
.lyca-feature-card {
  background: #ffffff;
  border-radius: 20px;
  padding:20px 19px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.10);
  transition: transform 0.3s ease;
  width:180px;
  max-width:300px;
  text-align:center;
  flex-grow:1;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
 
}
.lyca-feature-card:hover {
  transform: translateY(-8px);
}
.icon-wrapper {
  width: 80px;
  height: 80px;
  background-color: #e6f0fa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}
.icon-img {
  width: 65px;
  height: 65px;
  border-radius:50%;
 
}
.feature-name {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #0b2c4d;
  margin:16px;
  line-height:120%;
  text-transform: none;
}
.feature-desc p{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #4c4d4f;
  line-height: 1.6;
  font-weight:400;
   overflow-wrap: break-word;
}

 @media (max-width: 768px){
  .lyca-feature-cards-container{
    display: flex;
    gap: 15px;
    justify-content: center;              
    align-items: center;
    margin:auto;
  }

  .lyca-feature-card{
    padding: 12px;   
    max-width: 95%;           
    flex: 0 0 95%;            
    margin: 0 auto;
  }

  .feature-name{
    font-size: 16px;
  }

  .feature-desc p{
    font-size: 13px;
    overflow-wrap: break-word;
  }
}


