.feature-wrapper {
  padding:60px 40px;
  background-color: #f5f7fa;
  text-align: center;
  width:100%;
  margin:0;
  margin-top:20px;

  box-sizing: border-box;
  position: relative;
  margin-left: calc(-50vw + 50%);
  width: 100vw;
  overflow-x: hidden;
}
.main-heading {
  font-size: 30px;
  font-weight: 700;
  color: #0b2c4d;
  margin-bottom: 50px;
  font-family:'Poppins', sans-serif;
   letter-spacing: 0px;
   text-transform: none;   
}
.cards-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin:auto;
  
}
.card {
  background: #ffffff;
  border-radius: 20px;
  padding: 19px;
  padding-top:20px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.10);
  transition: transform 0.3s ease;
  width:180px;
  max-width:300px;
  text-align:center;
  flex-grow:1;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
 
}
.card:hover {
  transform: translateY(-8px);
}
.icon-wrapper {
  width: 80px;
  height: 80px;
  background-color: #e6f0fa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}
.icon-img {
  width: 65px;
  height: 65px;
  border-radius:50%;
 
}
.feature-name {
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #0b2c4d;
  margin:16px;
  
}
.desc p{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #4c4d4f;
  line-height: 1.6;
  font-weight:400;
  text-wrap: wrap;
}
@media (max-width: 768px){
  .cards-container{
    display:flex;
    gap:20px;
    justify-content:space-around;
    padding:15px;
  }
  .card{
    padding:20px;
    flex: 0 0 100%;  
    max-width: 100%;
  }
  .feature-name{
    font-size:16px;
  }
  .desc p{
    font-size:13px;
    overflow-wrap: break-word;
  }
}


