    <section class="worldwide">
        <h1>Stay Connected Worldwide</h1>
        <p class="subtitle">Cheap international calls for everyone</p>

        <div class="search-box">
            <span class="icon">🔍</span>
            <input type="text" placeholder="Search for a country..." />
        </div>

        <div class="countries-Maincontainer">
            <div class="countries">
                <div class="country">
                    <img src="https://flagcdn.com/w80/de.png" alt="Germany">
                    <span>Germany</span>
                </div>

                <div class="country">
                    <img src="https://flagcdn.com/w80/at.png" alt="Austria">
                    <span>Austria</span>
                </div>

                <div class="country">
                    <img src="https://flagcdn.com/w80/bd.png" alt="Bangladesh">
                    <span>Bangladesh</span>
                </div>

                <div class="country">
                    <img src="https://flagcdn.com/w80/bg.png" alt="Bulgaria">
                    <span>Bulgaria</span>
                </div>

                <div class="country">
                    <img src="https://flagcdn.com/w80/in.png" alt="India">
                    <span>India</span>
                </div>
            </div>
        </div>

        <div class="view-more">
            <button class="view-moreBtn">View More</button>
        </div>

    </section>