    <!-- <section class="signup">
        <h1>Sign up to get exclusive offers</h1>

        <form class="signup-form">
            <input type="email" placeholder="Enter your email address" aria-label="Email address" />
            <button type="submit" class="joinOfrClbBtn">Join our offers club</button>
        </form>

        <div class="note">
            <p class="note-text">
                We would like to share relevant offers with you and keep you posted about our rewards and
                new products via email. You can change your mind at any time.
            </p>
        </div>
    </section> -->


        <section class="signup">
        <h1>Sign up to get exclusive offers</h1>

        <form class="signup-form">
            <input type="email" placeholder="Enter your email address" aria-label="Email address" />
            <button type="submit" class="joinOfrClbBtn">Join our offers club</button>
        </form>

        <div class="note">
            <p class="note-text">
                We would like to share relevant offers with you and keep you posted about our rewards and
                new products via email. You can change your mind at any time.
            </p>
        </div>
    </section>